<h1>Result</h1>
<p><%= @score %></p>

<%= link_to 'Play again', new_path %>
<!-- you specify the view_name and then 'path' > will no longer work to specify a link in the event that
you already renamed the path in your routes -->
